@media (min-width: 1400px) and (max-width: 5560px){
    .statistic_container > .wrapper{
        max-width: 1332px;
        padding: 0 16px;
        margin: 0 auto;
    }

    .under_header_marquee{
        max-width: 1332px;
        margin: 144px auto;
    }

    .in_the_press > .wrapper{
        max-width: 1370px;
        padding: 0 16px;
        margin: 0 auto;
    }

    .people_talk{
        margin: 0 auto;
        max-width: 1332px;
    }

    footer > .wrapper{
        max-width: 1332px;
    }

    .questons_head > img{
        position: relative;
    }

    .statistic_container > hr {
        margin-left: 0;
        margin: 0 auto;
        width: 33%;
    }

    /* S {
        width: 55%;
        position: unset;
        right: unset;
    } */
}

@media (min-width: 1023px) and (max-width: 1100px){
    
    .second_statistic > .info > .flex_second_static {
        column-gap: 10px;
    }

    .flex_info_card > div {
        padding-right: 36px;
    }

    .about_work_second_container > .first {
        margin: 50px 0;
    }

    .questons_head > p {
        width: 57%;
    }

    .ques_list > li > div > a {
        font-size: 30px;
        line-height: 34px;
    }

    .second_statistic > .info > .flex_second_static > div:nth-child(2) {
        margin-right: 0;
    }

    .talk_head > p,
    .talk_head > hr,
    .contact_head > hr{
        width: 45%;
    }

    .talk_container {
        padding: 50px 34px;
    }

    .swiper-button-prev2 {
        right: 15%;
    }

    .swiper-button-next2 {
        right: 8%;
    }

    .swiper3 > .swiper-wrapper > .swiper-slide3 {
        width: 531px !important;
    }

    .inf_about_user, textarea {
        width: 444px;
    }

    .swiper4 {
        width: unset;
    }

    .footer_container {
        display: flex;
        align-items: center;
        column-gap: 100px;
    }

    footer > .wrapper {
        max-width: 1332px;
        padding: 0 0 0 16px;
    }

    .about_work_inf > .first > hr,
    .price_block > .price_head > hr,
    .talk_head > hr,
    .contact_head > hr{
        transform: translateX(0);
    }

    .flex_info > img:nth-child(2) {
        right: 0;
    }

    .price_block > img:nth-child(3) {
        right: 5%;
    }

    footer{
        overflow-x: hidden;
        padding-left: unset;
    }
}

@media (min-width: 895px) and (max-width: 1022px){
    .burger_btn{
        display: flex;
    }

    .header_nav,
    .header_btn{
    display: none;
    }

    .second_statistic > .info > .flex_second_static > div:nth-child(2) > p {
    font-size: 50px;
    }

    .statistic_block > .first_statistic > p {
        font-size: 50px;
    }

    .second_statistic > .info > .flex_second_static {
        column-gap: 10px;
    }

    .about_work_inf > .second{
        align-items: center;
    }

    .about_work_inf.about_work_first_container > .second > img{
        width: 40%;
        transform: rotate(90deg) !important;
    }

    .about_work_inf.about_work_second_container > .second > img{
        width: 40%;
    }

    .about_work_inf > .first > p {
        width: 48%;
    }

    .about_work_inf > .first > hr {
        width: 50%;
    }

    .price_block > .price_head > hr {
        width: 49%;
    }

    .card > .flex{
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .card > .flex > a {
        padding: 17px 70px;
    }

    .our_team_head > .btns {
        flex-direction: column;
        text-align: center;
        row-gap: 30px;
    }

    .questons_head > p {
        line-height: 53px;
        width: 66%;
        font-size: 52px;
    }

    .swiper-slide2 > .second > p {
        font-size: 26px;
    }

    .in_the_press > .wrapper > .head {
        padding: 0;
    }

    .contact_us_flex {
        column-gap: 72px;
    }

    .price_block > .price_head{
        justify-content: space-between;
    }
    
    .our_features > .our_features_head {
        align-items: center;
    }

    .flex_info_card > div {
        margin: 50px 0 0px 50px;
    }

    .flex_info_card > div {
        padding-right: 36px;
    }

    .about_work_second_container > .first {
        margin: 50px 0;
    }

    .questons_head > p {
        width: 57%;
    }

    .ques_list > li > div > a {
        font-size: 30px;
        line-height: 34px;
    }

    .swiper-slide-container {
        /* row-gap: 60px; */
        height: 620px;
        justify-content: space-between;
    } 

    .second_statistic > .info > .flex_second_static > div:nth-child(2) {
        margin-right: 0;
    }

    .talk_head > p,
    .talk_head > hr,
    .contact_head > hr{
        width: 45%;
    }

    .talk_container {
        padding: 50px 34px;
    }

    .swiper-button-prev2 {
        right: 15%;
    }

    .swiper-button-next2 {
        right: 8%;
    }

    .swiper3 > .swiper-wrapper > .swiper-slide3 {
        width: 531px !important;
    }

    .inf_about_user, textarea {
        width: 444px;
    }

    .swiper4 {
        width: unset;
    }

    .footer_container {
        display: flex;
        align-items: center;
        column-gap: 100px;
    }

    footer > .wrapper {
        max-width: 1332px;
        padding: 0 0 0 16px;
    }

    .about_work_inf > .first > hr,
    .price_block > .price_head > hr,
    .talk_head > hr,
    .contact_head > hr{
        transform: translateX(0);
    }

    .flex_info > img:nth-child(2) {
        right: 0;
    }

    .price_block > img:nth-child(3) {
        right: 5%;
    }

    footer{
        overflow-x: hidden;
        padding-left: unset;
    }
}

@media (min-width: 768px) and (max-width: 894px){
    .burger_btn{
        display: flex;
    }

    .header_nav,
    .header_btn{
    display: none;
    }

    .second_statistic {
        z-index: 10;
        position: relative;
        width: 100%;
    }

    .statistic_block > .first_statistic > img {
        top: -209px;
        width: 80%;
    }

    .our_features > .our_features_head {
        align-items: center;
    }

    .statistic_block {
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .second_statistic > .info > .flex_second_static > div:nth-child(2) > p {
    font-size: 50px;
    }

    .statistic_block > .first_statistic > p {
        font-size: 50px;
    }

    .second_statistic > .info > .flex_second_static {
        column-gap: 10px;
    }

    .about_work_inf > .second{
        align-items: center;
    }

    .about_work_inf.about_work_first_container > .second > img{
        width: 40%;
        transform: rotate(90deg) !important;
    }

    .about_work_inf.about_work_second_container > .second > img{
        width: 40%;
    }

    .about_work_inf > .first > p {
        width: 50%;
    }

    .about_work_inf > .first > hr {
        width: 46%;
    }

    .price_block > .price_head > hr {
        width: 49%;
    }

    .flex_info > .flex_info_card{
        align-items: unset;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .price_cards > .card {
        padding: 42px 26px 50px 26px;
    }

    .flex_info_card > div > ul{
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        display: flex;
        list-style: none;
    }   

    .statistic_container > .wrapper {
        max-width: unset;
        padding: 0 16px;
    }

    .video > .wrapper > .flex_info > p {
        width: 65%;
    }

    .video > .wrapper > .flex_info > hr {
        width: 34%;
        position: relative;
    }

    .card > .flex{
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .card > .flex > a {
        padding: 17px 70px;
    }

    .our_team_head > .btns {
        flex-direction: column;
        text-align: center;
        row-gap: 30px;
    }

    .questons_head > p {
        line-height: 53px;
        width: 66%;
        font-size: 52px;
    }

    .swiper{
        padding-bottom: 60px;
    }

    .swiper-slide-container {
        height: 600px;
        justify-content: space-between;
    }

    .stars > svg{
        width: 30px;
        height: 30px;
    }

    .swiper-button-prev2 {
        right: 14%;
    }

    .swiper-button-next2 {
        right: 7%;
    }

    .swiper-slide2 > .second > p {
        font-size: 22px;
    }

    .in_the_press > .wrapper > .head {
        padding: 0;
    }

    .contact_us_flex {
        column-gap: 72px;
        flex-wrap: wrap;
    }

    .price_block > .price_head{
        justify-content: space-between;
    }

    .flex_info_card > div {
        padding-right: 36px;
    }

    .contact_us_flex > .first > img{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        transform: translate(0);
    }

    .contact_us_flex > .first > div{
        margin-top: 20px;
    }

    .second_statistic > .info > .flex_second_static > div:nth-child(2) {
        margin-right: 0;
    }

    .contact_us_flex > .second > img{
        display: block;
        right: -60%;
        transform: rotate(80deg);
    }

    .swiper-button-next4{
        right: 0;
    }
    
    .swiper-button-prev4{
        left: 0;
    }

    .swiper-button-prev4{
        transform: translateY(90px);
    }

    .swiper-button-next4{
        transform: rotate(180deg) translateY(-90px);
    }
    
    .about_work_second_container > .first {
        margin: 50px 0;
    }

    .questons_head > p{
        width: 57%;
    }

    .ques_list > li > div > a {
        font-size: 30px;
        line-height: 34px;
        width: 70%;
    }

    .talk_head > p,
    .talk_head > hr,
    .contact_head > hr{
        width: 45%;
        font-size: 50px;
        line-height: 50px;
    }

    .talk_container {
        padding: 50px 0 50px 34px;
    }

    .swiper3 > .swiper-wrapper > .swiper-slide3 {
        padding: 0 40px 0 0;
    }

    .swiper-slide3 > div > p:nth-child(3) {
        font-size: 28px;
        line-height: 38px;
    }

    .inf_about_user, textarea {
        width: 444px;
    }

    .swiper4 {
        width: unset;
        padding: 40px 0 80px 0;
    }

    .footer_container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 40px;
    }

    .footer_container > .second > hr {
        left: -33%;
    }

    .footer_container > .second{
        margin: 0 auto;
    }

    .footer_container > .second > img {
        position: absolute;
        right: -215px;
        top: -420px;
    }

    .swiper-slide-container {
        height: 585px;
        row-gap: 59px;
        justify-content: space-between;
    }

    footer > .wrapper {
        max-width: 1332px;
        padding: 0 0 0 16px;
    }

    .about_work_inf > .first > hr,
    .price_block > .price_head > hr,
    .talk_head > hr,
    .contact_head > hr{
        transform: translateX(0);
    }

    .flex_info > img:nth-child(2) {
        right: 0;
    }

    .price_block > img:nth-child(3) {
        right: 5%;
    }

    .footer_container > .first > p:nth-child(5) {
        margin-top: 30px;
    }

    footer{
        overflow-x: hidden;
        padding-left: unset;
    }
}

@media (min-width: 595px) and (max-width:767px){
    .burger_btn{
        display: flex;
    }

    .header_nav,
    .header_btn{
    display: none;
    }

    .under_header > h1 {
        font-size: 72px;
    }

    .under_header{
        margin-top: 76px;
    }

    .under_header_marquee {
        padding: 32px 0;
        height: 108px;
    }

    .second_statistic {
        z-index: 10;
        position: relative;
        width: 100%;
    }

    .our_features > .our_features_head {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;
    }

    .talk_head,
    .contact_us > .wrapper > .contact_head,
    .price_block > .price_head,
    .our_team > .our_team_head,
    .video > .wrapper > .flex_info,
    .about_work_inf > .first,
    .our_team > .our_team_head,
    .social_media > .head{
        align-items: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
    }

    .social_media > .head{
        margin-bottom: 20px;
    }

    .our_features > .flex_info {
        margin-top: 150px;
    }

    .statistic_block > .first_statistic > img {
        top: -209px;
        width: 80%;
    }

    .our_features > .our_features_head {
        align-items: center;
    }

    .statistic_block {
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .second_statistic > .info > .flex_second_static > div:nth-child(2) > p {
    font-size: 50px;
    }

    .statistic_block > .first_statistic > p {
        font-size: 50px;
    }

    .second_statistic > .info > .flex_second_static {
        column-gap: 10px;
    }

    .about_work_inf > .second{
        align-items: center;
        position: relative;
    }

    .flex_info > .flex_info_card{
        align-items: unset;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .price_cards > .card {
        padding: 42px 26px 50px 26px;
    }

    .flex_info_card > div > ul{
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        display: flex;
        list-style: none;
    }   

    .statistic_container > .wrapper {
        max-width: unset;
        padding: 0 16px;
    }

    .video > .wrapper > .flex_info > p {
        text-align: center;
    }

    .video > .wrapper > .flex_info > hr {
        position: relative;
    }

    .video_container {
        height: 500px;
    }

    .about_work_inf > .first > p {
        text-align: center;
    }

    .about_work_inf > .first > hr,
    .price_block > .price_head > hr,
    .about_work_inf > .first > p,
    .video > .wrapper > .flex_info > hr,
    .video > .wrapper > .flex_info > p{
        width: 100%;
    }

    .about_work_inf.about_work_first_container > .second > img,
    .about_work_inf.about_work_second_container > .second > img{
        display: none;
    }

    .about_work_inf.about_work_first_container > .second > .txt_container{
        margin-top: 40px;
    }

    .about_work_second_container > .first{
        flex-direction: column-reverse;
    }

    .card > .flex{
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .card > .flex > a {
        padding: 17px 70px;
    }

    .our_team_head > .btns {
        text-align: center;
    }

    .questons_head > p {
        line-height: 53px;
        width: 66%;
        font-size: 52px;
    }
    
    .questons_head {
        margin-bottom: 80px;
    }

    .swiper{
        padding-bottom: 60px;
    }

    .swiper-slide-container {
        height: 575px;
        justify-content: space-between;
    }

    .stars > svg{
        width: 30px;
        height: 30px;
    }

    .second_statistic > .info > .flex_second_static > div:nth-child(2) {
        margin-right: 0;
    }

    .swiper-slide2 > .second > p {
        font-size: 22px;
    }

    .in_the_press > .wrapper > .head {
        padding: 0;
    }

    .contact_us_flex {
        column-gap: 72px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact_us_flex > .first > p:nth-child(3) {
        margin: 20px auto 0 auto;
    }

    .contact_us_flex > .second {
        margin-top: 50px;
    }
    
    form > input {
        margin-top: 40px;
    }

    .flex_info_card > div {
        padding-right: 36px;
    }

    .contact_us_flex > .first > img{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        transform: translate(0);
    }

    .contact_us_flex > .first > div{
        margin-top: 20px;
    }

    .swiper-button-next4{
        right: 0;
    }
    
    .swiper-button-prev4{
        left: 0;
    }

    .swiper-button-prev4{
        transform: translateY(90px);
    }

    .swiper-button-next4{
        transform: rotate(180deg) translateY(-90px);
    }
    
    .about_work_second_container > .first {
        margin: 70px 0 40px 0;
    }

    .questons_head > p{
        width: 81%;
        position: relative;
        z-index: 3;
    }

    .ques_list > li > div > a {
        font-size: 30px;
        line-height: 34px;
        width: 70%;
    }

    .talk_head > p,
    .talk_head > hr,
    .contact_head > hr{
        text-align: center;
        width: 100%;
        font-size: 50px;
        line-height: 50px;
    }

    .talk_container {
        padding: 50px 0 50px 34px;
        height: 640px;
    }

    .swiper-slide2 > .first > img {
        width: 150px;
    }

    .swiper-slide2{
        align-items: center;
        flex-direction: column;
    }

    .swiper-slide2 > .second > .first_info > .txt{
        text-align: center;
    }

    .first_info > .stars {
        justify-content: center;
    }

    .swiper-button-next2, .swiper-button-prev2 {
        bottom: 32%;        
    }

    .swiper-slide3 > div > p:nth-child(2) {
        width: 67%;
    }

    .swiper-button-prev2 {
        left: 0;
    }

    .swiper-button-next2 {
        right: 0;
    }
    
    .swiper-slide2 > .second > .first_info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .swiper3 > .swiper-wrapper > .swiper-slide3 {
        padding: 0 40px 0 0;
    }

    .swiper-slide3 > div > p:nth-child(3) {
        font-size: 28px;
        line-height: 38px;
    }

    .inf_about_user, textarea {
        width: 444px;
    }

    .swiper4 {
        width: unset;
        padding: 40px 0 80px 0;
    }

    .footer_container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 40px;
    }

    .footer_container > .second > hr {
        left: -33%;
    }

    .footer_container > .second{
        margin: 0 auto;
    }

    .footer_container > .second > img {
        position: absolute;
        right: -215px;
        top: -420px;
    }

    footer > .wrapper {
        max-width: 1332px;
        padding: 0 0 0 16px;
    }

    .about_work_inf > .first > hr,
    .price_block > .price_head > hr,
    .talk_head > hr,
    .contact_head > hr{
        transform: translateX(0);
    }

    .flex_info > img:nth-child(2) {
        right: 0;
    }

    .price_block > img:nth-child(3) {
        right: 15%;
    }

    .footer_container > .first > p:nth-child(5) {
        margin-top: 30px;
    }

    footer{
        overflow-x: hidden;
        padding-left: unset;
    }
}

@media (min-width: 425px) and (max-width: 594px){
    .burger_btn{
        display: flex;
    }

    .header_nav,
    .header_btn{
    display: none;
    }

    .under_header > h1 {
        text-align: center;
        font-size: 50px;
        line-height: 60px;
    }

    .under_header{
        margin-top: 76px;
    }

    .under_header_marquee {
        padding: 32px 0;
        height: 108px;
    }

    .second_statistic > .info > .flex_second_static > div:nth-child(2) {
        margin-right: 0;
    }

    .second_statistic {
        z-index: 10;
        position: relative;
        width: 100%;
    }

    .our_features > .our_features_head {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;
    }

    .our_features > .our_features_head > h2 {
        font-size: 45px;
        line-height: 50px;
        text-align: center;
    }

    .flex_info_card > div > ul > li {
        align-items: center;
        text-align: left;
    }

    .talk_head,
    .contact_us > .wrapper > .contact_head,
    .price_block > .price_head,
    .our_team > .our_team_head,
    .video > .wrapper > .flex_info,
    .about_work_inf > .first,
    .our_team > .our_team_head,
    .social_media > .head{
        align-items: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
    }

    .social_media > .head{
        margin-bottom: 20px;
    }

    .our_features > .flex_info {
        margin-top: 100px;
    }

    .statistic_block > .first_statistic > img {
        top: -209px;
        width: 80%;
    }

    .our_features > .our_features_head {
        align-items: center;
    }

    .statistic_block {
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .second_statistic > .info > .flex_second_static > div:nth-child(2) > p {
    font-size: 50px;
    }

    .statistic_block > .first_statistic > p {
        font-size: 50px;
    }

    .second_statistic > .info > .flex_second_static {
        column-gap: 10px;
    }

    .about_work_inf > .second{
        align-items: center;
        position: relative;
    }

    .flex_info > .flex_info_card{
        align-items: unset;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .price_cards > .card {
        padding: 42px 26px 50px 26px;
    }

    .price_block > .price_cards {
        flex-direction: column;
        row-gap: 30px;
    }

    .flex_info_card > div > ul{
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        display: flex;
        list-style: none;
    }   

    .statistic_container > .wrapper {
        max-width: unset;
        padding: 0 16px;
    }

    .video > .wrapper > .flex_info > p {
        text-align: center;
    }

    .video > .wrapper > .flex_info > hr {
        position: relative;
    }

    .video_container {
        height: 500px;
    }

    .about_work_inf > .first > p {
        text-align: center;
    }

    .about_work_inf > .first > hr,
    .price_block > .price_head > hr,
    .about_work_inf > .first > p,
    .video > .wrapper > .flex_info > hr,
    .video > .wrapper > .flex_info > p{
        width: 100%;
    }

    .about_work_inf.about_work_first_container > .second > img,
    .about_work_inf.about_work_second_container > .second > img{
        display: none;
    }

    .about_work_inf.about_work_first_container > .second > .txt_container{
        margin-top: 40px;
    }

    .about_work_second_container > .first{
        flex-direction: column-reverse;
    }

    .card > .flex{
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .card > .flex > a {
        padding: 17px 70px;
    }

    .our_team_head > .btns {
        text-align: center;
    }

    .our_team_head > p {
        font-size: 50px;
        line-height: 60px;
    }

    .questons_head > p {
        line-height: 53px;
        width: 66%;
        font-size: 52px;
    }
    
    .questons_head {
        margin-bottom: 80px;
    }

    .swiper{
        padding-bottom: 60px;
    }

    .swiper-slide-container {
        height: 490px;
        justify-content: space-between;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 45%;
    }

    .about_work_inf > .first > p {
        font-size: 42px;
    }

    .stars > svg{
        width: 30px;
        height: 30px;
    }

    .swiper-slide2 > .second > p {
        font-size: 17px;
        line-height: 30px;
        width: 95%;
    }

    .in_the_press > .wrapper > .head {
        padding: 0;
    }

    .contact_us_flex {
        column-gap: 72px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact_us_flex > .first > p:nth-child(3) {
        margin: 20px auto 0 auto;
    }

    .contact_us_flex > .second {
        margin-top: 50px;
    }
    
    form > input {
        margin-top: 40px;
    }

    .flex_info_card > div {
        padding-right: 36px;
    }

    .contact_us_flex > .first > img{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        transform: translate(0);
    }

    .contact_us_flex > .first > div{
        margin-top: 20px;
    }

    .swiper-button-next4{
        right: 0;
    }
    
    .swiper-button-prev4{
        left: 0;
    }

    .swiper-button-prev4{
        transform: translateY(90px);
    }

    .swiper-button-next4{
        transform: rotate(180deg) translateY(-90px);
    }
    
    .about_work_second_container > .first {
        margin: 70px 0 40px 0;
    }

    .questons_head > p{
        width: 100%;
        position: relative;
        z-index: 3;
        font-size: 49px;
    }

    .ques_list > li > div > a {
        margin-left: 20px;
        font-size: 20px;
        line-height: 34px;
        width: 80%;
    }

    .talk_head > p,
    .talk_head > hr,
    .contact_head > hr{
        text-align: center;
        width: 100%;
        font-size: 50px;
        line-height: 50px;
    }

    .talk_container {
        padding: 50px 0 50px 34px;
        height: 620px;
    }

    .in_the_press > .wrapper > .head > p {
        font-size: 38px;
        line-height: 41px;
    }

    .in_the_press > .wrapper > .head > a {
        padding: 14px 12px;
        line-height: 22px;
        text-align: center;
    }

    .swiper-slide2 > .first > img {
        width: 150px;
    }

    .swiper-slide2{
        align-items: center;
        flex-direction: column;
    }

    .swiper-slide2 > .second > .first_info > .txt{
        text-align: center;
    }

    .first_info > .stars {
        justify-content: center;
    }

    .swiper-button-next2, .swiper-button-prev2 {
        bottom: unset;
        top: unset;   
        background-color: transparent;
        transform: translateY(-200px);     
    }

    .swiper-button-next2{
        transform: translateY(-200px) rotate(180deg);
    }

    .swiper-button-next4, .swiper-button-prev4 {
        top: 50%;        
    }

    .social_media {
        margin-top: 100px;
        margin-bottom: 60px;
    }

    .swiper-slide3 > div > p:nth-child(2) {
        width: 67%;
    }

    .swiper-button-prev2 {
        left: 0;
    }

    .swiper-button-next2 {
        right: 0;
    }
    
    .swiper-slide2 > .second > .first_info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .swiper3 > .swiper-wrapper > .swiper-slide3 {
        padding: 0 40px 0 0;
    }

    .swiper-slide3 > div > p:nth-child(3) {
        font-size: 28px;
        line-height: 38px;
    }

    .inf_about_user, textarea {
        width: 380px;
    }

    .social_media > .head > p {
        font-size: 50px;
        line-height: 60px;
    }

    .swiper4 {
        width: unset;
        padding: 40px 0 80px 0;
    }

    .footer_container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 40px;
    }

    .footer_container > .second > hr {
        left: -33%;
    }

    .footer_container > .second{
        margin: 0 auto;
    }

    .footer_container > .second > img {
        position: absolute;
        right: -215px;
        top: -420px;
    }

    footer > .wrapper {
        max-width: 1332px;
        padding: 0 16px 0 16px;
    }

    .second_container > ul:not(:first-child) {
        margin-left: 58px;
    }

    .swiper-slide2 > .second > p {
        text-align: center;
    }

    .about_work_inf > .first > hr,
    .price_block > .price_head > hr,
    .talk_head > hr,
    .contact_head > hr{
        transform: translateX(0);
    }

    .flex_info > img:nth-child(2) {
        right: 0;
        top: unset;
        bottom: 0;
    }

    .price_block > img:nth-child(3) {
        right: 15%;
    }

    .footer_container > .first > p:nth-child(5) {
        margin-top: 30px;
    }

    footer{
        overflow-x: hidden;
        padding-left: unset;
    }
}

@media(min-width: 375px) and (max-width: 424px){
    .burger_btn{
        display: flex;
    }

    header > img:first-child {
        width: 28%;
    }

    .header_nav,
    .header_btn{
    display: none;
    }

    .under_header > h1 {
        text-align: center;
        font-size: 49px;
        line-height: 60px;
    }

    .under_header{
        margin-top: 76px;
    }
    
    .under_header > p {
        text-align: center;
        font-size: 24px;
    }

    .under_header_marquee {
        padding: 32px 0;
        height: 108px;
    }

    .second_statistic > .info > .flex_second_static > div:nth-child(2) {
        margin-right: 0;
    }

    .second_statistic {
        z-index: 10;
        position: relative;
        width: 100%;
    }

    .our_features > .our_features_head {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;
    }

    .our_features > .our_features_head > h2 {
        font-size: 42px;
        line-height: 50px;
        text-align: center;
    }

    .flex_info_card > div > ul > li {
        align-items: center;
        text-align: left;
    }

    .about_work_inf > .first > p {
        font-size: 36px;
    }

    .talk_head,
    .contact_us > .wrapper > .contact_head,
    .price_block > .price_head,
    .our_team > .our_team_head,
    .video > .wrapper > .flex_info,
    .about_work_inf > .first,
    .our_team > .our_team_head,
    .social_media > .head{
        align-items: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
    }

    .social_media > .head{
        margin-bottom: 20px;
    }

    .our_features > .flex_info {
        margin-top: 100px;
    }

    .statistic_block > .first_statistic > img {
        top: -209px;
        width: 80%;
    }

    .our_features > .our_features_head {
        align-items: center;
    }

    .statistic_block {
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .second_statistic > .info > .flex_second_static > div:nth-child(2) > p {
    font-size: 50px;
    }

    .statistic_block > .first_statistic > p {
        font-size: 50px;
    }

    .second_statistic > .info > .flex_second_static {
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 0;
    }

    .about_work_inf > .second{
        align-items: center;
        position: relative;
    }

    .flex_info > .flex_info_card{
        align-items: unset;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .price_cards > .card {
        padding: 42px 26px 50px 26px;
    }

    .price_block > .price_cards {
        flex-direction: column;
        row-gap: 30px;
    }

    .flex_info_card > div > ul{
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        display: flex;
        list-style: none;
    }   

    .statistic_container > .wrapper {
        max-width: unset;
        padding: 0 16px;
    }

    .video > .wrapper > .flex_info > p {
        text-align: center;
    }

    .video > .wrapper > .flex_info > hr {
        position: relative;
    }

    .video_container {
        height: 300px;
    }
    
    .about_work {
        margin-top: 100px;
    }

    .about_work_inf > .first > p {
        text-align: center;
    }

    .about_work_inf > .first > hr,
    .price_block > .price_head > hr,
    .about_work_inf > .first > p,
    .video > .wrapper > .flex_info > hr,
    .video > .wrapper > .flex_info > p{
        width: 100%;
    }

    .about_work_inf.about_work_first_container > .second > img,
    .about_work_inf.about_work_second_container > .second > img{
        display: none;
    }

    .about_work_inf > .second > .txt_container > p:first-child {
        margin-top: 30px;
    }

    .about_work_inf.about_work_first_container > .second > .txt_container{
        margin-top: 40px;
    }

    .about_work_second_container > .first{
        flex-direction: column-reverse;
    }

    .card > .flex{
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .price_block > .price_head > p {
        font-size: 50px;
        line-height: 31px;
    }

    .card > .flex > a {
        padding: 17px 70px;
    }

    .our_team_head > .btns {
        text-align: center;
    }

    .our_team_head > p {
        font-size: 46px;
        line-height: 56px;
    }

    .our_team_head > .btns > a {
        padding: 16px 26px;
    }

    .questons_head > p {
        line-height: 53px;
        width: 66%;
        font-size: 52px;
    }
    
    .questons_head {
        margin-bottom: 80px;
    }

    .swiper{
        padding-bottom: 60px;
    }

    .swiper-slide-container {
        height: 490px;
        justify-content: space-between;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 43%;
    }

    .stars > svg{
        width: 30px;
        height: 30px;
    }

    .swiper-slide2 > .second > p {
        font-size: 17px;
        line-height: 30px;
        margin-top: 40px;
        text-align: center;
    }

    .in_the_press > .wrapper > .head {
        padding: 0;
    }

    .contact_us_flex {
        column-gap: 72px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact_head > p {
        font-size: 50px;
        line-height: 36px;
    }

    .contact_us_flex > .first > p:nth-child(3) {
        margin: 20px auto 0 auto;
    }

    .contact_us_flex > .second {
        margin-top: 50px;
    }
    
    form > input {
        margin-top: 40px;
    }

    .flex_info_card > div {
        padding-right: 36px;
        margin: 50px 0 0 36px;
    }

    .flex_info_card > div:not(:last-child) {
        border-right: 0;
    }

    .contact_us_flex > .first > img{
        position: absolute;
        top: 50%;
        width: 60%;
        left: 0;
        z-index: 0;
        transform: translate(0);
    }

    .questions {
        margin-top: 60px;
    }

    .contact_us_flex > .first > div{
        margin-top: 20px;
    }

    .swiper-button-next4{
        right: 0;
    }
    
    .swiper-button-prev4{
        left: 0;
    }

    .swiper-button-prev4{
        transform: translateY(90px);
    }

    .swiper-button-next4{
        transform: rotate(180deg) translateY(-90px);
    }
    
    .about_work_second_container > .first {
        margin: 70px 0 40px 0;
    }

    .questons_head > p{
        width: 100%;
        position: relative;
        z-index: 3;
        font-size: 43px;
    }

    .ques_list > li > div > a {
        margin-left: 20px;
        font-size: 20px;
        line-height: 34px;
        width: 80%;
    }

    .talk_head > p,
    .talk_head > hr,
    .contact_head > hr{
        text-align: center;
        width: 100%;
        font-size: 50px;
        line-height: 50px;
    }

    .talk_container {
        padding: 50px 0 50px 34px;
        height: 620px;
    }

    .in_the_press > .wrapper > .head > p {
        font-size: 38px;
        line-height: 41px;
    }

    .in_the_press > .wrapper > .head > a {
        padding: 14px 12px;
        line-height: 22px;
        text-align: center;
    }

    .swiper-slide2 > .first > img {
        width: 150px;
    }

    .swiper-slide2{
        align-items: center;
        flex-direction: column;
    }

    .swiper-slide2 > .second > .first_info > .txt{
        text-align: center;
    }

    .first_info > .stars {
        justify-content: center;
    }

    .swiper-button-next2, .swiper-button-prev2 {
        bottom: 32%;        
    }

    .swiper-button-next4, .swiper-button-prev4 {
        top: 50%;        
    }

    .social_media {
        margin-top: 100px;
        margin-bottom: 60px;
    }

    .swiper-slide3 > div > p:nth-child(2) {
        width: 67%;
    }

    .swiper-button-prev2 {
        left: 0;
    }

    .swiper-button-next2 {
        right: 0;
    }

    .swiper-button-next2, .swiper-button-prev2 {
        bottom: unset;
        top: unset;   
        background-color: transparent;
        transform: translateY(-200px);     
    }

    .swiper-button-next2{
        transform: translateY(-200px) rotate(180deg);
    }
    
    .swiper-slide2 > .second > .first_info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .swiper3 > .swiper-wrapper > .swiper-slide3 {
        padding: 0 40px 0 0;
    }

    .swiper-slide3 > div > p:nth-child(3) {
        font-size: 28px;
        line-height: 38px;
    }

    .inf_about_user, textarea {
        width: 330px;
    }

    .social_media > .head > p {
        font-size: 47px;
        line-height: 60px;
    }

    .swiper4 {
        width: unset;
        padding: 40px 0 80px 0;
    }

    .footer_container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 40px;
    }

    .footer_container > .second > hr {
        left: -33%;
    }

    .footer_container > .second{
        margin: 0 auto;
    }

    .footer_container > .second > img {
        position: absolute;
        right: -215px;
        top: -420px;
    }

    footer > .wrapper {
        max-width: 1332px;
        padding: 0 16px 0 16px;
    }

    .second_container > ul:not(:first-child) {
        margin-left: 46px;
    }

    .about_work_inf > .first > hr,
    .price_block > .price_head > hr,
    .talk_head > hr,
    .contact_head > hr{
        transform: translateX(0);
    }

    .flex_info > img:nth-child(2) {
        right: 0;
        top: unset;
        bottom: 0;
    }

    .price_block > img:nth-child(3) {
        right: 15%;
    }

    .footer_container > .first > p:nth-child(5) {
        margin-top: 30px;
    }

    footer{
        overflow-x: hidden;
        padding-left: unset;
    }
}

@media (min-width: 320px) and (max-width: 374px){
    .burger_btn{
        display: flex;
    }

    .header_nav,
    .header_btn{
    display: none;
    }

    .under_header > h1 {
        text-align: center;
        font-size: 41px;
        line-height: 60px;
    }
    
    header > img:first-child {
        width: 28%;
    }

    .under_header{
        margin-top: 76px;
    }
    
    .under_header > p {
        text-align: center;
        font-size: 20px;
    }

    .under_header_marquee {
        padding: 32px 0;
        height: 108px;
    }

    .second_statistic > .info > .flex_second_static > div:nth-child(2) {
        margin-right: 0;
    }

    .second_statistic {
        z-index: 10;
        position: relative;
        width: 100%;
    }

    .our_features > .our_features_head {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;
    }

    .our_features > .our_features_head > h2 {
        font-size: 36px;
        line-height: 50px;
        text-align: center;
    }

    .flex_info_card > div > ul > li {
        align-items: center;
        text-align: left;
    }

    .talk_head,
    .contact_us > .wrapper > .contact_head,
    .price_block > .price_head,
    .our_team > .our_team_head,
    .video > .wrapper > .flex_info,
    .about_work_inf > .first,
    .our_team > .our_team_head,
    .social_media > .head{
        align-items: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
    }

    .social_media > .head{
        margin-bottom: 20px;
    }

    .our_features > .flex_info {
        margin-top: 100px;
    }

    .statistic_block > .first_statistic > img {
        top: -209px;
        width: 80%;
    }

    .our_features > .our_features_head {
        align-items: center;
    }

    .statistic_block {
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .second_statistic > .info > .flex_second_static > div:nth-child(2) > p {
    font-size: 50px;
    }

    .statistic_block > .first_statistic > p {
        font-size: 50px;
    }

    .second_statistic > .info > .flex_second_static {
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 0;
    }

    .about_work_inf > .second{
        align-items: center;
        position: relative;
    }

    .flex_info > .flex_info_card{
        align-items: unset;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .price_cards > .card {
        padding: 42px 26px 50px 26px;
    }

    .price_block > .price_cards {
        flex-direction: column;
        row-gap: 30px;
    }

    .flex_info_card > div > ul{
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        display: flex;
        list-style: none;
    }   

    .statistic_container > .wrapper {
        max-width: unset;
        padding: 0 16px;
    }

    .video > .wrapper > .flex_info > p {
        text-align: center;
    }

    .video > .wrapper > .flex_info > hr {
        position: relative;
    }

    .video_container {
        height: 200px;
        margin-top: 30px;
    }

    .video_container > a {
        padding: 18px 24px;
    }
    
    .about_work {
        margin-top: 100px;
    }

    .about_work_inf > .first > p {
        text-align: center;
    }

    .about_work_inf > .first > hr,
    .price_block > .price_head > hr,
    .about_work_inf > .first > p,
    .video > .wrapper > .flex_info > hr,
    .video > .wrapper > .flex_info > p{
        width: 100%;
    }

    .about_work_inf.about_work_first_container > .second > img,
    .about_work_inf.about_work_second_container > .second > img{
        display: none;
    }

    .about_work_inf.about_work_first_container > .second > .txt_container{
        margin-top: 40px;
    }

    .about_work_second_container > .first{
        flex-direction: column-reverse;
    }

    .about_work_inf > .second > .txt_container > p:first-child {
        margin-top: 30px;
    }

    .card > .flex{
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .price_block > .price_head > p {
        font-size: 50px;
        line-height: 31px;
    }

    .card > .flex > a {
        padding: 17px 70px;
    }

    .our_team_head > .btns {
        text-align: center;
    }

    .our_team_head > p {
        font-size: 40px;
        line-height: 49px;
    }

    .our_team_head > .btns > a {
        padding: 16px 18px;
    }

    .questons_head > p {
        line-height: 53px;
        width: 66%;
        font-size: 52px;
    }
    
    .questons_head {
        margin-bottom: 80px;
    }

    .swiper{
        padding-bottom: 60px;
    }

    .swiper-slide-container {
        height: 490px;
        justify-content: space-between;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 49%;
    }

    .stars > svg{
        width: 30px;
        height: 30px;
    }

    .swiper-slide2 > .second > p {
        font-size: 17px;
        line-height: 30px;
        margin-top: 40px;
        text-align: center;
    }

    .in_the_press > .wrapper > .head {
        padding: 0;
    }

    .contact_us_flex {
        column-gap: 72px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact_head > p {
        font-size: 50px;
        line-height: 36px;
    }

    .contact_us_flex > .first > p:nth-child(3) {
        margin: 20px auto 0 auto;
    }

    .contact_us_flex > .second {
        margin-top: 50px;
    }
    
    form > input {
        margin-top: 40px;
    }

    .flex_info_card > div {
        padding-right: 36px;
        margin: 50px 0 0 36px;
    }

    .flex_info_card > div:not(:last-child) {
        border-right: 0;
    }

    .contact_us_flex > .first > img{
        position: absolute;
        top: 50%;
        width: 60%;
        left: 0;
        z-index: 0;
        transform: translate(0);
    }

    .questions {
        margin-top: 60px;
    }

    .contact_us_flex > .first > div{
        margin-top: 20px;
    }

    .swiper-button-next4{
        right: 0;
    }
    
    .swiper-button-prev4{
        left: 0;
    }

    .swiper-button-prev4{
        transform: translateY(90px);
    }

    .swiper-button-next4{
        transform: rotate(180deg) translateY(-90px);
    }
    
    .about_work_second_container > .first {
        margin: 70px 0 40px 0;
    }

    .questons_head > p{
        width: 100%;
        position: relative;
        z-index: 3;
        font-size: 36px;
    }

    .ques_list > li > div > a {
        margin-left: 20px;
        font-size: 18px;
        line-height: 27px;
        width: 100%;
    }

    .talk_head > p,
    .talk_head > hr,
    .contact_head > hr{
        text-align: center;
        width: 100%;
        font-size: 50px;
        line-height: 50px;
    }

    .talk_container {
        padding: 50px 0 50px 0;
        height: 620px;
    }

    .in_the_press > .wrapper > .head > p {
        font-size: 28px;
        line-height: 41px;
    }

    .in_the_press > .wrapper > .head > a {
        padding: 14px 12px;
        line-height: 22px;
        text-align: center;
    }

    .swiper-slide2 > .first > img {
        width: 150px;
    }

    .swiper-slide2{
        align-items: center;
        flex-direction: column;
    }

    .swiper-slide2 > .second > .first_info > .txt{
        text-align: center;
    }

    .first_info > .stars {
        justify-content: center;
    }

    .swiper-button-next2, .swiper-button-prev2 {
        bottom: unset;
        top: unset;   
        background-color: transparent;
        transform: translateY(-200px);     
    }

    .swiper-button-next2{
        transform: translateY(-200px) rotate(180deg);
    }

    .swiper-button-next4, .swiper-button-prev4 {
        top: 50%;        
    }

    .social_media {
        margin-top: 100px;
        margin-bottom: 60px;
    }

    .swiper-slide3 > div > p:nth-child(2) {
        width: 67%;
    }

    .swiper-button-prev2 {
        left: 0;
    }

    .swiper-button-next2 {
        right: 0;
    }
    
    .swiper-slide2 > .second > .first_info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .swiper3 > .swiper-wrapper > .swiper-slide3 {
        padding: 0 40px 0 0;
    }

    .swiper-slide3 > div > p:nth-child(3) {
        font-size: 28px;
        line-height: 38px;
    }

    .inf_about_user, textarea {
        width: 290px;
    }

    .social_media > .head > p {
        font-size: 39px;
        line-height: 60px;
        text-align: center;
    }

    .swiper4 {
        width: unset;
        padding: 40px 0 80px 0;
    }

    .footer_container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 40px;
    }

    .footer_container > .second > hr {
        left: -33%;
    }

    .footer_container > .second{
        margin: 0 auto;
    }

    .footer_container > .second > img {
        position: absolute;
        right: -215px;
        top: -420px;
    }

    footer > .wrapper {
        max-width: 1332px;
        padding: 0 16px 0 16px;
    }

    .second_container > ul:not(:first-child) {
        margin-left: 20px;
    }

    .about_work_inf > .first > hr,
    .price_block > .price_head > hr,
    .talk_head > hr,
    .contact_head > hr{
        transform: translateX(0);
    }

    .flex_info > img:nth-child(2) {
        right: 0;
        top: unset;
        bottom: 0;
    }

    .price_block > img:nth-child(3) {
        right: 15%;
    }

    .footer_container > .first > p:nth-child(5) {
        margin-top: 30px;
    }

    footer{
        overflow-x: hidden;
        padding-left: unset;
    }
}
